.site-layout-content {
    height: 85vh;
    overflow: auto;
    padding: 24px;
    background: rgb(255, 255, 255);
    background-image: url('../../../../public/back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }