
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .activeClass {
    /* background-color: rgb(0, 0, 0); */
    /* color: rgb(2, 224, 32); */
    font-weight:bolder;
    font-size:2ex;
    /* opacity: .5; */
}

.headerClass {
  /* background-color: rgb(0, 0, 0); */
  /* color: rgb(255, 255, 255); */
  font-weight:bolder;
  font-size:3ex;
  /* opacity: .5; */
}
.assignClass {
  /* background-color: rgb(0, 0, 0); */
  color: rgb(218, 162, 11);
  font-weight:bolder;
  font-size:3ex;
  /* opacity: .5; */
}
.removeClass {
  /* background-color: rgb(0, 0, 0); */
  color: rgb(5, 93, 255);
  font-weight:bolder;
  font-size:0.8em;
  /* opacity: .5; */
}
.logo {
  float: left;
  width: 20%;
  height: 70px;
  background-repeat: no-repeat;
  margin: 2px -150px 0px -30px;
  background-image: url('../../public/systems.png');
}

.site-layout-background {
  background: #fff;
}
.header h1{
  color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-size: 2em;
  margin-left: 30%;
}
.ant-layout-footer{
  background: #002140;
  padding: 0%;
  color: rgb(255, 255, 255);
  float: left;
  height: 44px;
}
.footer{
  /* background-image: url('../../public/systems.png');
  background-repeat: no-repeat; */
  width: 178px;
  /* height: 30px; */
  object-fit: contain;
}
.ant-layout-sider-trigger{
  height: 40px;
}